= form_tag({:action => :create}, {:id => "certificate_form", :target => "_new"}) do
	%fieldset
		#fields
			= label :cretificate, "Nome:"
			%br
			= text_field :certificate, :name
		#actions
			%button{:class => "button"}		
				= image_tag("tick.png")
				%label 
					Gerar
:javascript
	$(function(){
		$('#certificate_name').focus();
	});
