%form{:method => 'post' , :action => 'create'}
	%fieldset
		%label
			Name:
			%input{ :type => "text", :name => "name", :maxlength => "200" }
		%input{ :type => "submit", :value => "Gerar", :class => "button" }
